body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.modal {
  max-height: 80% !important;
  overflow: hidden !important ;
}
.input-field {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
.collection-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection-list > span {
  width: 20%;
}
.collection-item {
  padding-left: 20px !important;
}

.cus-badge-warn {
  padding: 5px;
  background-color: yellow;
  color: #222;
  border-radius: 5px;
  width: 95px;
  text-align: center;
}
.cus-badge-normal {
  padding: 5px;
  background-color: rgb(47, 105, 214);
  color: #fff;
  border-radius: 5px;
  width: 95px;
  text-align: center;
}
.cus-badge-danger {
  padding: 5px;
  background-color: red;
  color: #fff;
  border-radius: 5px;
  width: 95px;
  text-align: center;
}
